abstract=This is a registry for software systems implementing Discrete Global Grid Reference Systems (DGGRS). Each individual in the registry identifies both a software system and DGGRS. Check the DGGRS registry for details on each individual reference system.\n\n This registry was created to support the development of the GeoPlegma project, providing unique and universal identifiers for DGGRS and related software.\n\n
introduction=Contains a list of individuals of type dggrs:ImplDGGRS. As a Semantic Web document, it provides unique and universal identifiers to each combination of software and DGGRS catalogued.
ontologyTitle=Registry of Discrete Global Grid Reference System Implementations
ontologyName=DGGRS Implement Registry
thisVersionURI=http://w3id.org/dggrs/implment/v1.0.0
ontologyRevisionNumber=v1.0.0
ontologyNamespaceURI=http://w3id.org/dggrs/implement/
status=DGGRS Implement Registry
licenseURI=https://creativecommons.org/licenses/by-nc-nd/4.0/
licenseName=CC BY-NC-ND 4.0
licenseIconURL=https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Cc_by-nc-nd_icon.svg/120px-Cc_by-nc-nd_icon.svg.png
codeRepository=https://github.com/GeoPlegma/dggrs-registry
authors=Luís Moreira de Sousa;
authorsURI=http://orcid.org/0000-0002-5851-2071;
authorsInstitution=Insituto Superior Técnico, University of Lisbon;
authorsInstitutionURI=
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
dateCreated=1st Sept, 2025
dateModified=15th Sept, 2025
